#reasons.section
  .slides-menu
    .container
      .fullPage-slidesNav.top

        %ul
          %li
            %a{href: "#", class:"tooltip", title:"Made in Italy: a potential key drive for scale-up of your start-up"}
              %span.dot1
          %li
            %a{href: "#", class:"tooltip", title:"Italy’s got talent: high-quality skills at competitive salaries"}
              %span.dot2
          %li
            %a{href: "#", class:"tooltip", title:"Italian manufacturing SMEs: a crucial competitive advantage for startups"}
              %span.dot3
          %li
            %a{href: "#", class:"tooltip", title:"Rome wasn’t built in a day: Italy’s art and cultural heritage is a latent, high-potential asset"}
              %span.dot4
          %li
            %a{href: "#", class:"tooltip", title:"All roads lead to Rome: Italy is a gateway to strategic markets"}
              %span.dot5
          %li
            %a{href: "#", class:"tooltip", title:"Italy offers robust investment incentives and pioneer capital raising tools for startups"}
              %span.dot6
          %li
            %a{href: "#", class:"tooltip", title:"The Great Beauty: Italy’s lifestyle as an asset to enhance your working environment"}
              %span.dot7
          %li
            %a{href: "#", class:"tooltip", title:"Italian startups can benefit from a flexible, tailored labour discipline"}
              %span.dot8
          %li
            %a{href: "#", class:"tooltip", title:"Solidity and vastness of the internal market, countless opportunities for expansion"}
              %span.dot9
          %li
            %a{href: "#", class:"tooltip", title:"Strong commitment by the government to develop a robust startup ecosystem"}
              %span.dot10

  #reason1.slide
    .container
      %h2 Made in Italy: a key driver for the scaling-up of your startup
      .content
        .box
          %span.corner
          %p
            Italy is celebrated throughout the world for its art, culture, creativity and manufacturing quality. These are the foundations on which the unique supply chain for “Made in Italy” products is built. Italy has brought industry, culture and lifestyle together in a way that does not only concern design and the superb quality of fashion, food and furniture, but also sheer artistic expression in all of its forms. Tellingly, a KPMG report recently stated that “Made in Italy” is the 3<span class="apice">rd</span> best known brand in the world. By establishing your startup in Italy, you will have the chance to leverage our most celebrated sectors, add value to your products and scale up your business.
          .side.controlArrow.prev
          .side.controlArrow.next
        .side
      = image_tag 'visual_reason1.png'


  #reason2.slide
    .container
      %h2 High-quality and competitive skills
      .box
        %span.corner
        %p
          Italy boasts an extensive network of high-quality universities (300,000 graduates per year) as well as science and technology parks. According to OECD, Italian researchers have one of the highest productivity ratios in the world. At the same time, universities and research centers are tightly linked with industry. Cooperation between academia, R&D subsidiaries of multinationals located in Italy and domestic industrial clusters lead to spillover effects that your startup may easily benefit from. And do not forget that, compared to more celebrated global innovation hubs, our talents are available at reasonable costs.
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason2.png'

  #reason3.slide
    .container
      %h2 Italians do it better: how our grassroots manufacturing culture can boost your startup
      .box
        %span.corner
        %p
          Italy is the 2<span class="apice">nd</span> manufacturing country in the European Union and the 5<span class="apice">th</span> in the world. The backbone of Italian manufacturing is made up of clusters of SMEs spanning all industries, from high-quality leather goods to aerospace, from apparel to med-tech, from agro-food to industrial automation. If your business has to do with manufacturing, you will be able to rely on a wide, flexible and highly-developed network of SMEs, able to act as high-quality and low-cost suppliers in countless sectors. You will discover how easy it is to grow a startup in Italy with limited investment, since manufacturing facilities are already available at competitive costs.
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason3.png'


  #reason4.slide
    .container
      %h2 Rome wasn’t built in a day: Italy’s artistic and cultural heritage is an untapped asset
      .box
        %span.corner
        %p
          Italy is ranked 1<span class="apice">st</span> worldwide for UNESCO World Heritage sites. This inexhaustible artistic, historical and cultural capital of ours has always inspired creative minds and innovators from all over the world. In spite of its vastness, this huge wealth is still largely underexploited and represents a sector with a superb business potential. If your startup operates in the fields of art, culture and tourism, being based in Italy will unleash a tremendous multiplier effect.
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason4.png'

  #reason5.slide
    .container
      %h2 All roads lead to Rome: Italy is a gateway to strategic markets
      .box
        %span.corner
        %p
          Italy is a crossroads strategically located in the heart of the Mediterranean Sea, and represents the main thoroughfare linking Southern Europe to Northern and Central Europe by land (Italy has the 2<span class="apice">nd</span> highest road and 5<span class="apice">th</span> rail network extension in the EU, and is the 2<span class="apice">nd</span> European country for maritime freight network). It is a gateway to 500 million consumers across the European Union and to 270 million in Northern Africa and the Middle East. The new EU trade agreements with several countries, currently in a negotiation phase, i.e. TTIPS with the USA, will increase business opportunities for Italy and for your startup as well. 
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason5.png'


  #reason6.slide
    .container
      %h2 Italy offers robust investment incentives and has pioneered capital raising tools for startups
      .box
        %span.corner
        %p
          Corporates, business angels and VCs investing in Italian innovative startups can benefit from the 2nd highest tax relief discipline in the European Union. Moreover, your startup could raise capital in exchange for shares through dedicated online portals, under the umbrella of a solid legal framework: in fact, Italy has been the 1<span class="apice">st</span> country on earth to introduce a specific set of regulations for equity crowdfunding.
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason6.png'
  #reason7.slide
    .container
      %h2 The Great Beauty: Italy’s lifestyle as an asset to enhance your working environment
      .box
        %span.corner
        %p
          Living in Italy is uniquely attractive. The appeal of our cuisine, which is the most celebrated and imitated in the world, needs no introduction. Toss in being the country that ranks 2<span class="apice">nd</span> worldwide for life expectancy at birth. Add the historical charm that exudes from of all of our cities, and the fascinating landscape you can quickly reach by car or by high-speed train from just about anywhere. Snow-covered peaks, beautiful lakes and fertile valleys in the North; hills covered with vineyards and olive trees in the Center; an eternal sun, volcanoes and unique islands with breathtaking beaches in the South: can any other working environment be more desirable for you and your team?
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason7.png'


  #reason8.slide
    .container
      %h2 Italian startups can benefit from a flexible, tailor-made employment law
      .box
        %span.corner
        %p
          The Italian government’s startup policy has introduced a flexible labour law with 6 to 36-month temporary contracts applicable for the whole startup’s life cycle (up to 4 years). Moreover, startups have the chance to introduce performance-related pay and remunerate workers and external consultants with stock options and work for equity respectively, with a privileged tax treatment for stock options. Finally, there’s a 35% tax credit for hiring highly-qualified personnel with open-ended contracts. When you hire a developer costing 50,000 euro a year (which is not much, is it?), the Government will pay 17,500 for the first year! Not bad, uh?
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason8.png'

  #reason9.slide
    .container
      %h2 Solidity and vastness of the internal market, countless opportunities for expansion
      .box
        %span.corner
        %p
          Italy’s 1.5 trillion euro GDP is 10<span class="apice">th</span> among OECD countries and 4<span class="apice">th</span> among European countries. The economy is largely export-driven, with a WTO rank at 9<span class="apice">th</span> place in world trade for merchandise. Starting your company in Italy means having access to a large internal market, with 60 million residents, and to unique export know-how. With tens of millions of internet users, Italy offers countless opportunities to businesses operating in strategic sectors such as logistics, IT, life sciences, cleantech and tourism.
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason9.png'


  #reason10.slide
    .container
      %h2 Strong commitment by the government to develop a robust startup ecosystem
      .box
        %span.corner
        %p
          Recent Italian governments have become very serious about improving the business friendliness of the country, and the country has started attracting significant investment as a result. In the last two years, high-tech businesses and innovative startups have been at the top of the Italian Ministry of Economic Development’s agenda. This makes it the right time to invest in Italy and tap into the unique opportunities the country has to offer you. We can’t wait to blend our talent with yours!
        .side.controlArrow.prev
        .side.controlArrow.next
      = image_tag 'visual_reason10.png'