.m-pikabu-sidebar.m-pikabu-right
  .container
    %ul#mobile-menu
      %li
        %a.mobile1{href:"/#10reasons-section"}
          = image_tag 'visual3_10reason-icon.png', class: "icon"
          .side
            %h3
              10 reasons
      %li
        %a.mobile2{href:"/#processes-section"}
          = image_tag 'visual3_process-icon.png', class: "icon"
          .side
            %h3
              Application process

      %li
        %a.mobile3{href:"/filinfcabinet.html"}
          = image_tag 'visual3_storage-icon.png', class: "icon"
          .side
            %h3
              Filing cabinet

      %li
        %a.mobile4{href:"/map.php"}
          = image_tag 'visual3_ecosystem-icon.png', class: "icon"
          .side
            %h3
              Ecosystem map
      %li.about
        %a.mobile5{href:"/about.html"}
          = image_tag 'visual_icon-about.png', class: "icon"
          .side
            %h3
              About
      %li
        %a.mobile6{href:"/faq.html"}
          = image_tag 'visual_icon-about.png', class: "icon"
          .side
            %h3
              Faq
      %li
        %a.mobile7{href:"/credits.html"}
          = image_tag 'visual_icon-about.png', class: "icon"
          .side
            %h3
              Credits