.m-pikabu-sidebar.m-pikabu-right
  .container
    %ul#mobile-menu
      %li
        %a{href:"/#10reasons-section"}
          = image_tag 'visual3_10reason-icon.png', class: "icon"
          .side
            %h3
              10 reasons
      %li
        %a{href:"/#processes-section"}
          = image_tag 'visual3_process-icon.png', class: "icon"
          .side
            %h3
              Application process

      %li
        %a{href:"/filinfcabinet.html"}
          = image_tag 'visual3_storage-icon.png', class: "icon"
          .side
            %h3
              Filing cabinet

      %li
        %a{href:"/map.php"}
          = image_tag 'visual3_ecosystem-icon.png', class: "icon"
          .side
            %h3
              Ecosystem map
      %li
        %a{href:"/about.html"}
          = image_tag 'visual_icon-about.png', class: "icon"
          .side
            %h3
              About
      %li
        %a{href:"/contacts.html"}
          = image_tag 'visual_icon-contacts.png', class: "icon"
          .side
            %h3
              Contacts