---
title: "main page"
metas: "main"
---
#about.section
  .container
    .content
      .left
        %h1
          What is Italia Startup Visa?
        %p
          Since 2012, Italy has implemented a groundbreaking <a href="http://www.mise.gov.it/images/stories/documenti/Executive-Summary-of-Italy's-new-policy-on-start-ups.pdf">Startup law</a> to encourage the creation and development of innovative startups.<br /><br />Already, it’s paying off.<br /><br /> This strategy is key to fostering sustainable growth, technological development and employment, especially for young people. This will promote a new entrepreneurial culture, encouraging greater social mobility and injecting innovation into our business ecosystem.<br /><br />As a result, our country will become a global hub for international investment and talent.<br /><br />
          <a href="/pdf/linee_guida_ISV.pdf" target="_blank">The Italia Startup Visa policy</a> is designed to help achieve this last objective.<br /><br />
          It provides a streamlined <a href="/pdf/summary_of_the_application_process.pdf" target="_blank">process for non-EU talents</a> to found innovative startups in Italy.<br /><br />
          This, along with benefits provided by the recent law, including robust tax relief on seed and venture capital investments, pioneering equity crowdfunding provisions, cuts in red tape, substantial guarantees on bank loans are steps to make Italy a world leader for innovative enterprises.<br /><br />

          CONTACTS<br />
          Italia Startup Visa Committee<br />
          <a href="mailto:info.italiastartupvisa@mise.gov.it?subject=APPLICATION ISV FIRST NAME: John LAST NAME: Smith" target="_blank">info.italiastartupvisa@mise.gov.it</a><br />
          +39 06 47052503<br />
      .image1
        = image_tag "photos/visual_img1.jpg"
      .image2
        = image_tag "photos/visual_img2.jpg"
      .image3
        = image_tag "photos/visual_img3.jpg"
      .image5
        = image_tag "photos/visual_img5.jpg"
      .image4
        = image_tag "photos/visual_img4.jpg"
      .image6
        = image_tag "photos/visual_img6.jpg"