---
title: "main page"
metas: "main"
---

#fullpage
  = partial "partials/landing"
  = partial "partials/reasons"
  = partial "partials/processes"
  = partial "partials/processa"
  = partial "partials/processb"


